streamlit>=1.32.2
folium>=0.16.0
streamlit-folium>=0.19.0
pandas>=2.0.0
geopandas>=0.14.0
SQLAlchemy>=2.0.0
GeoAlchemy2>=0.14.0
requests>=2.30.0
flake8>=7.0.0
pytest>=8.0.0
prefect>=2.16.0
python-dotenv>=1.0.0
tenacity>=8.2.0
psycopg2-binary>=2.9.0
